.page-header {
  // background: #eee;
}

.nav-menu {
  background: #fafafa;
}
//Menu style
.nav-menu {
  padding: ($padding-default *2) 0;
  margin: 0;
  text-align: center;
  @include font(1.2);
  @include clear();
  position: relative;

  //Itens + links
  .item {
    display: inline-block;
    text-transform: uppercase;
    display: none;
    @include span(2);
    @include font(0.9);
    @media (min-width: $small-size) {
      @include font(0.75);
      display: inline-block;
    }
  }

  .item a {
    color: #000;
    text-decoration: none;
  }
  .item.logo {
    padding: 1px;
  }

  .item > .lang-divisor {
    @include font(1);
    font-weight: bold;
    line-height: 9px;
    margin: 0 2px;
  }

  .item.name {
    display: inline-block;
    @include span(10);
    text-align: center;
    @media (min-width: $small-size) {
      display: none;
    }
  }
}

//Menu + button control
.nav-menu {
  .item.nav {
    display: inline-block;
    @include span(2);
    cursor: pointer;
    @media (min-width: $mid-size) {
      @include span(1);
    }
  }

  .nav-button {
    width: 25px;
    margin: 0 auto;
    & span {
      height: 2px;
      width: 100%;
      margin: 3px 0;
      background: #222;
      display: block;
      content: ' ';
    }
  }
}

//Menu + Content
//==================

.nav-content{
  display: none;
  background: #e58638;
  color: #fff;
  @include clear();
  height: 400px;
  overflow-y: auto;
  @include container(12 center);
  @media (min-width: $mid-size) {
    overflow-y: none;
    height: auto;
    padding: $padding-default;
  }
}

.nav-content > ul {
  @include font(0.95);
  padding: 10px;
  margin: 0;
  @media(min-width: $mid-size) {
    @include span(3);
    @include push(1 of 15);
  }
}
.nav-content > ul > li {
  display: block;
  margin: 5px 0;
  @include font(0.90);
  font-weight: lighter;
  &.header {
    padding: 5px 10px;
    border: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    @include font(1);
    @media (min-width: $mid-size) {
      width: auto;
      display: inline-block;
    }
  }
  & a {
    display: block;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
  }
}