* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.content-container {
  display: block;
  margin: 0 auto;
  padding: 0 $padding-default;
  font-size: 1.4rem;
  @media (min-width: $mid-size) {
    width: 75%;
    font-size: 1.5rem;
  }
}


@mixin clear() {
  &:after, &:before {
    clear: both;
    display: table;
    content: ' ';
    zoom: 1;
  }
}

@mixin font($size) {
  font-size: ($size*10)+px;
  font-size: ($size)+rem;
}